<div class ="container">
	<div class ="title-container">
		<div class ="row">
			<div class ="col-lg-10 col-lg-offset-1">
				<p class ="flash-text "><%= flash[:notice] %></p>
				<h2>登録者一覧</h2>
				<p>計<%= @member_count %>人</p>
			</div>
		</div>
	</div>
	<div class ="admin-body-container">
		<div class ="row">
			<div class ="col-lg-12">
				<table class ="index-table table">
					<tr class ="row">
						<th class ="col-lg-2"></th>
						<th class ="col-lg-2">名前</th>
						<th class ="col-lg-2">フリガナ</th>
						<th class ="col-lg-2">ユーザネーム</th>
						<th class ="col-lg-2">メール</th>
						<th class ="col-lg-2">登録日</th>
					</tr>
					<!-------- 登録者一覧表示 -------->
					<% @members.each do |member| %>
						<tr class ="row">
							<td class ="col-lg-2">
								<%= attachment_image_tag member, :image, :fill, 50,50, format: "jpg" %>
							</td>
							<td class ="col-lg-2">
								<%= member.last_name %><%= member.first_name %>
							</td>
							<td class ="col-lg-2">
								<%= member.last_name_kana %><%= member.first_name_kana %>
							</td>
							<td class ="col-lg-2">
								<%= member.user_name %>
							</td>
							<td class ="col-lg-2">
								<%= member.email %>
							</td>
							<td class ="col-lg-2">
								<%= member.created_at.strftime('%Y/%m/%d ') %>
							</td>
						</tr>
					<% end %>
					<!------------------------------->
				</table>
			</div>
		</div>
	</div>
	<div class ="paginate-container row">
		<div class =" col-lg-12"><%= paginate @members %></div>
	</div>
</div>