
<div class ="container">
  <h2>チームログイン</h2>
  <div class ="login-container" style="margin: 0 auto; width: 500px;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class ="col-lg-3">メールアドレス</div>
        <div class ="col-lg-9"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div>

      <div class="row">
        <div class ="col-lg-3">パスワード</div>
        <div class ="col-lg-9"><%= f.password_field :password, autocomplete: "current-password" %></div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="row">
          <%= f.check_box :remember_me %>
          <lavel>保存しますか?</lavel>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success btn-block" %>
      </div>
    <% end %>
    <%= render "members/shared/links" %>
  </div>
</div>