<% comments.each do |comment| %>
	<div id ="comments-<%= comment.id %>" >
		<%= link_to member_member_path(comment.member.id) do %>
			<%= attachment_image_tag comment.member, :image, :fill,20,20, class: "member-image" %><%= comment.member.user_name %>
		<% end %>
		<!-- コメント削除ボタン -->
		<% if comment.member == current_member %>
			<%= link_to member_post_comment_path(comment.post, comment), method: :delete, remote: true, data: {confirm: "このコメントを削除しますか？"}  do %>
				<i class="far fa-trash-alt "></i>
			<% end %>
		<% end %>
		<!---------------------->
		<%= comment.body %>
	</div>
<% end %>
