<%= render 'search_tag' %>
<div class ="container">
	<div class ="title-container">
		<div class ="row">
			<p class ="flash-text"><%= flash[:notice] %></p>
			<h2 class ="col-lg-10 col-lg-offset-1">Posts</h2>
		</div>
	</div>
	<div class ="posts-container">
		<div class ="row">
			<div class ="col-xs-12">
				<div class ="row">
					<!---------- 投稿一覧画面 ---------->
					<% @posts.each do |post| %>
						<div class ="col-xs-12 col-md-4">
							<div class ="row">
								<div class ="col-xs-12">
									<%= attachment_image_tag post.member, :image, :fill, 35,35, class: "member-image", fallback: "cropped-noimage.jpg"%>
									<%= link_to member_member_path(post.member.id) do %>
										<span class ="member-name" ><%= post.member.user_name  %></span>
									<% end %>
								</div>
							</div>
							<div class ="row">
								<div class ="col-xs-12">
									<%= link_to member_post_path(post.id) do %>
										<%= attachment_image_tag post, :image, :fill, 300,300, class: "post-image" %>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
					<!-------------------------------->
				</div>
				<div class ="row">
					<div class ="paginate-container col-lg-12">
						<%= paginate @posts %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>