<div class ="title-container">
	<div class ="row">
		<h2 class ="col-lg-10 col-lg-offset-1">NewPost</h2>

	</div>
</div>
<div class ="body-container">
	<div class ="row">
		<div class ="col-lg-10 col-lg-offset-1">
			<%= form_with model: @post, url: member_posts_path, local: true do |f| %>
			<%= render 'layouts/error_messages', model: f.object %>
				<div class ="row">
					<div class ="post-image">
					 	<%= attachment_image_tag @post, :image, :fill,200,200, class: "image-squar col-lg-12", fallback: "/images/cropped-noimage.jpg" %>
					</div>
					<%= f.attachment_field :image %>
				</div>
				<div class ="form-group row">
					<%= f.text_area :body, class: "post-form form-control col-lg-12", placeholder: "キャプションを書く" %>
				</div>
				<div class="row button">
                	<%= f.submit "投稿", class: "btn submit-btn btn-lg" %>
            	</div>
			<% end %>
		</div>
	</div>
</div>
<script>
	$(function(){
	  $('#post_image').on('change', function (e) {
	  var reader = new FileReader();
	  reader.onload = function (e) {
	      $(".image-squar").attr('src', e.target.result);
	  }
	  reader.readAsDataURL(e.target.files[0]);
	});
	});
</script>