<div class ="container">
  <div class ="login-text-container">
    <div class ="row">
      <h2 class ="col-lg-6 col-lg-offset-3">新規登録</h2>
    </div>
  </div>
  <div class ="login-container" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "members/shared/error_messages", resource: resource %>
       <!----- 画像　----->
      <div class ="row">
        <div class ="member-image">
          <%= attachment_image_tag @member, :image, class: "col-lg-12", fallback: "cropped-noimage.jpg", size:"200x200" %>
        </div>
        <%= f.attachment_field :image %>
      </div>
      <!----- ユーザネーム　----->
      <div class ="row">
        <div class ="form-text col-lg-3">ユーザーネーム</div>
        <div class ="form-box col-lg-9"><%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-control" %></div>
      </div>
      <!----- 紹介文　----->
      <div class ="row">
        <div class ="col-lg-3">紹介文</div>
        <div class ="form-box col-lg-9"><%= f.text_field :introduction, autofocus: true, autocomplete: "introduction", class: "form-control" %></div>
      </div>
      <!----- 名前　----->
      <div class ="row">
          <div class ="form-text col-lg-3">フリガナ(姓)</div>
          <div class ="form-box col-lg-9"><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "form-control" %></div>
      </div>
      <div class ="row">
          <div class ="form-text col-lg-3">フリガナ(名)</div>
          <div class ="form-box col-lg-9"><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "form-control" %></div>
      </div>
     <div class ="row">
          <div class ="form-text col-lg-3">名前(姓)</div>
          <div class ="form-box col-lg-9"><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %></div>
      </div>
     <div class ="row">
          <div class ="form-text col-lg-3">名前(名)</div>
          <div class ="form-box col-lg-9"><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %></div>
      </div>
      <!----- メール　----->
      <div class ="row">
          <div class ="form-text col-lg-3">メールアドレス</div>
          <div class ="form-box col-lg-9"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></div>
      </div>
      <!----- パスワード　----->
      <div class= "row">
        <div class ="form-text col-lg-3">パスワード<br>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </div>
        <div class ="form-box col-lg-9">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
      <!----- パスワード(確認)　----->
      <div class= "row">
        <div class ="form-text col-lg-3">パスワード</div>
        <div class ="form-box col-lg-9"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
      <!--　登録ボタン　-->
      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
      </div>

    <% end %>
    <%= render "members/shared/links" %>
  </div>
</div>
<script>
  $(function(){
      $('#member_image').on('change', function (e) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $(".image").attr('src', e.target.result);
      }
      reader.readAsDataURL(e.target.files[0]);
  });
  });
</script>

