<div class ="title-container">
	<div class ="row">
		<h2 class ="col-lg-10 col-lg-offset-1">問合せ内容</h2>
	</div>
</div>
<div class ="body-container">
	<div class ="row">
		<div class ="col-lg-12">
				<div class ="inquiry-form row">
					<div class ="col-lg-4">名前</div>
					<div class ="col-lg-8"><%= @inquiry.name %></div>
				</div>
				<div class ="row inquiry-form">
					<div class ="col-lg-4">電話番号</div>
					<div class ="col-lg-8"><%= @inquiry.phone_number %></div>
				</div>
				<div class ="row inquiry-form">
					<div class ="col-lg-4">メールアドレス</div>
					<div class ="col-lg-8"><%= @inquiry.email %></div>
				</div>
				<div class ="row inquiry-form">
					<div class ="col-lg-4">問合せ内容</div>
					<div class ="col-lg-8"><%= @inquiry.body %></div>
				</div>
				<div class ="row button">
					<%= form_for(@inquiry) do |f| %>
						<%= f.hidden_field :name %>
						<%= f.hidden_field :phone_number %>
						<%= f.hidden_field :email %>
						<%= f.hidden_field :body %>
						<%= f.submit "送信", class: "btn submit-btn btn-lg" %>
					<% end %>
				</div>
				<div class ="row button">
					<%= form_for @inquiry, url: back_path do |f| %>
						<%= f.hidden_field :name %>
						<%= f.hidden_field :phone_number %>
						<%= f.hidden_field :email %>
						<%= f.hidden_field :body %>
						<%= f.submit "編集に戻る", class: "btn btn-link" %>
					<% end %>
				</div>
		</div>
	</div>
</div>
