
<div class ="container">
    <div class ="login-text-container">
        <div class ="row">
            <h2 class ="col-xs-8 col-xs-offset-2">パスワード変更</h2>
        </div>
    </div>
    <div class ="login-body-container" >
        <!---------------　パスワード変更フォーム --------------->
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "members/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group row">
                <div class ="control-label col-xs-12">
                    新しいパスワード
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %>文字以上)</em><br />
                    <% end %>
                </div>
                <div class ="col-xs-12">
                    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
                </div>
                <div class ="control-label col-xs-12">新しいパスワード確認用</div>
                <div class ="col-xs-12">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>
            </div>
            <div class="form-group row">
                <div class ="button">
                    <%= f.submit "パスワード変更", class: "btn btn-success" %>
                </div>
            </div>
        <% end %>
        <!---------------------------------------------------->
        <div class="row">
            <div class ="button">
                <%= render "members/shared/links" %>
            </div>
        </div>
    </div>
</div>