<div class ="container">
	<div class ="title-container">
		<div class ="row">
			<div class ="flash-text col-lg-10 col-lg-offset-1">
				<p><%= flash[:notice] %></p>
			</div>
			<h2 class ="col-lg-10 col-lg-offset-1">Q&A</h2>
			<p class ="col-lg-10 col-lg-offset-1">
				あなたの質問にスタッフがお答えします<br>
				たくさんの質問お待ちしています
			</p>
			<%= link_to new_member_question_path do %>
				<button type="button" class="question-btn btn btn-lg">質問する</button>
			<% end %>
		</div>
	</div>
	<div class ="body-container">
		<div class ="row">
			<div class ="col-lg-12">
				<table class ="index-table table">
					<% @questions.each do |question| %>
						<%  if question.answer.present? %>
							<tr class ="row">
								<td>
									<%= link_to member_question_path(question.id) do %>
										<div class ="row">
											<div class ="col-lg-7">
												<%= attachment_image_tag question.member, :image, :fill, 30,30, class: "member-image" %>
												<%= question.member.user_name %>さんより。
											</div>
											<div class ="col-lg-5 text-right">
												<%= question.created_at.strftime('%Y/%m/%d ') %>
											</div>
										</div>
										<div class ="row">
											<div class ="col-lg-12">
												<%= question.body %>
											</div>
										</div>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</table>
			</div>
		</div>
	</div>
	<div class ="paginate-container row">
		<div class =" col-lg-12"><%= paginate @questions %></div>
	</div>
</div>


