<div class ="container">
	<div class ="row">
		<div class ="col-xs-12">
			<%= search_form_for @search, url: member_members_path do |f| %>
				<%= f.search_field :user_name_cont %>
				<input type="submit" value="&#xf002; " class="fas">
			<% end %>
		</div>
	</div>
</div>
<div class  ="container">
	<div class ="title-container">
		<div class ="row">
			<h2 class ="col-xs-10 col-xs-offset-1">Users</h2>
			<P class ="col-xs-10 col-xs-offset-1">登録者数<%= @member_count %>人</P>
		</div>
	</div>
	<div class ="body-container">
		<div class ="row">

		</div>
		<div class ="row">
			<div class ="col-xs-12">
				<table class ="index-table table">
					<!----- 登録会員一覧表示 ----->
					<% @members.each do |member| %>
						<tr class ="row">
							<td>
								<%= link_to member_member_path(member.id) do %>
									<div class ="col-xs-2">
										<%= attachment_image_tag member, :image, :fill, 40,40, class: "member-image", fallback: "/images/cropped-noimage.jpg", size: "40x40" %>
									</div>
									<div class ="col-xs-10">
										<%= member.user_name %><br>
										<%= member.introduction %>
									</div>
								<% end %>
							</td>
						</tr>
					<% end %>
					<!-------------------------->
				</table>
			</div>
		</div>
	</div>
	<div class ="paginate-container row">
		<div class =" col-xs-12"><%= paginate @members %></div>
	</div>
</div>