<div class ="container">
	<div class ="title-container">
		<div class ="row">
			<p class ="flash-text"><%= flash[:notice] %></p>
			<h2 class ="col-lg-10 col-lg-offset-1"><%= @member.user_name %></h2>
		</div>
	</div>
	<!----- 会員詳細表示 ----->
	<div class ="show-member-container">
		<div class ="row">
			<div class ="col-lg-10 col-lg-offset-1">
				<div class ="row">
					<div class ="col-lg-4">
				 		<%= attachment_image_tag @member, :image, :fill, 100,100, class: "member-image col-lg-12", fallback: "/images/cropped-noimage.jpg" %>
				 		<i class="fas fa-heart fa-lg heart-icon"><span><%= @like_count %></span></i>
				 		<i class="fas fa-camera fa-lg camera-icon"><span><%= @post_count %></span></i>
					 </div>
					 <div class ="col-lg-7">
					 	</br>
					 	<%= @member.introduction %>
					 </div>
					 <div class ="col-lg-1">
						<% if current_member.id == @member.id %>
		                	<%= link_to edit_member_member_path(current_member) do %>
		                		<i class="fa fa-cog fa-2x gear-icon"></i>
		                	<% end %>
		            	<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!---------------------->
	<!----- 会員投稿一覧 ----->
	<div class ="show-posts-container">
		<div class ="row">
			<div class ="col-lg-12">
				<div class ="row">
					<% @posts.each do |post| %>
						<div class ="col-lg-4">
							<%= link_to member_post_path(post.id) do %>
								<%= attachment_image_tag post, :image, :fill, 300,300, class: "post-image" %>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<!---------------------->
</div>





